

.loader{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        top: 50%;
   }

   .loader-svg {
    width: 3.25em;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotate4 1s linear infinite;
            animation: rotate4 1s linear infinite;
   }
   
   .loader-circle {
    fill: none;
    stroke: #8ae595;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    -webkit-animation: dash4 500ms ease-in-out infinite;
            animation: dash4 500ms ease-in-out infinite;
   }
   
   @-webkit-keyframes rotate4 {
    100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
    }
   }
   
   @keyframes rotate4 {
    100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
    }
   }
   
   @-webkit-keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
   